@import '/src/styles/core/Variables.scss';

.movie {
  padding: 5px 25px;

  &__label {
    color: $colorNaplesYellow;
    margin-right: 15px;

    @media (min-width: 1200px) {
      font-weight: bold;
      font-size: larger;
    }
  }

  &__input {
    border: 1px solid $colorNaplesYellow;
    border-radius: 4px;
    padding-left: 5px;
    color: $colorBlanchedAlmond;
    height: 25px;
    width: 275px;

    @media (min-width: 1200px) {
      height: 35px;
      width: 575px;
      font-size: larger;
    }
  }
  ::placeholder {
    color: $colorRoyalOrange;
    font-family: $fontHighlight;
  }
}
