@import '/src/styles/core/Variables.scss';

.footer {
  text-align: center;
  margin: 20px 0;

  &__credits {
    color: $colorNaplesYellow;
    margin: 8px 0;
  }

  &__link {
    color: $colorBlanchedAlmond;

    &--uppercase {
      color: $colorBlanchedAlmond;
      text-transform: uppercase;
    }
  }

  &__menuIcon {
    color: $colorBlanchedAlmond;
    padding: 2px;
  }

  &__disclaimer {
    justify-self: center;
    color: $colorNaplesYellow;
    margin: 8px 0;
    font-size: x-small;
  }
}
