@import '/src/styles/core/Variables.scss';

.movie {
  &__notFound {
    font-family: $fontHighlight;
    color: $colorDeepPink;
    display: flex;
    text-align: center;
    font-size: large;
    padding: 15% 0;

    @media all and (min-width: 768px) {
      font-size: x-large;
      padding: 10%;
    }

    @media all and (min-width: 1200px) {
      font-size: xx-large;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
  }

  &__listItem {
    border: solid 2px $colorNaplesYellow;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
    margin: 8px;
    padding: 4px;

    &:hover {
      box-shadow: -10px 0px 15px -8px #ff149c, 10px 0px 15px -8px #ff149c;
      -moz-transform: -10px 0px 15px -8px #ff149c, 10px 0px 15px -8px #ff149c;
      -ms-transform: -10px 0px 15px -8px #ff149c, 10px 0px 15px -8px #ff149c;
      -o-transform: -10px 0px 15px -8px #ff149c, 10px 0px 15px -8px #ff149c;
      -webkit-transform: -10px 0px 15px -8px #ff149c, 10px 0px 15px -8px #ff149c;

      // box-shadow: 4px 4px 15px 1px #ff149c;

      // transform: scale(1.1);
      // -moz-transform: scale(1.1);
      // -ms-transform: scale(1.1);
      // -o-transform: scale(1.1);
      // -webkit-transform: scale(1.1);
    }
  }
}
