@import '/src/styles/core/Variables.scss';

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 85vw;
  margin: 4% auto;
  background-color: $colorNaplesYellow;
  border-radius: 8px;
  padding: 5px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    text-align: left;
  }

  &__poster {
    width: 50%;
    height: 50%;
    border-radius: 8px;

    @media all and (min-width: 768px) {
      width: 30%;
      height: 30%;
    }
  }

  &__container {
    background-color: $colorNaplesYellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $colorBlanchedAlmond;
    width: 75vw;

    @media all and (min-width: 768px) {
      padding-left: 5%;
      width: 50vw;
    }
  }

  &__line {
    background-color: $colorNaplesYellow;
    color: $colorOrangeSoda;
    font-size: x-large;
    font-style: italic;
    margin: 25px 0 75px 0;
  }

  &__title {
    .detail__icon {
      background-color: $colorNaplesYellow;
      color: $colorAteneoBlue;
    }

    background-color: $colorNaplesYellow;
    color: $colorAteneoBlue;
    font-size: x-large;
    font-family: $fontHighlight;
    font-weight: bold;
    margin: 25px 0 50px 0;
  }

  &__director {
    .detail__icon {
      background-color: $colorNaplesYellow;
      color: $colorAteneoBlue;
    }

    background-color: $colorNaplesYellow;
    color: $colorAteneoBlue;
    font-size: larger;
    font-family: $fontHighlight;
    margin: 25px 0 50px 0;
  }

  &__clip {
    .detail__icon {
      background-color: $colorOrangeSoda;
      color: $colorAteneoBlue;
    }

    background-color: $colorOrangeSoda;
    color: $colorAteneoBlue;
    text-align: center;
    border-radius: 25px;
    width: 16ch;
    padding: 2%;
    font-weight: bold;
    margin: 10px 0;
  }

  // EJERCICIO: CLIP DE VIDEO
  &__video {
    .detail__icon {
      background-color: $colorAteneoBlue;
      color: $colorOrangeSoda;
    }

    background-color: $colorAteneoBlue;
    color: $colorOrangeSoda;
    text-align: center;
    border-radius: 25px;
    width: 18ch;
    padding: 2%;
    font-weight: bold;
    margin: 10px 0;
  }
  // EJERCICIO: CLIP DE VIDEO

  &__returnLink {
    .detail__icon {
      background-color: $colorNaplesYellow;
      color: $colorDeepPink;
    }

    background-color: $colorNaplesYellow;
    color: $colorDeepPink;
    text-align: end;
    margin: 10px 0;
  }
}
