@import '/src/styles/core/Variables.scss';

.detail {
  display: flex;
  flex-direction: row;
  background-color: $colorSpanishGray;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;

  &__poster {
    width: 375px;
    border-radius: 8px;
  }

  &__container {
    background-color: $colorSpanishGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $colorAlabaster;
    padding-left: 75px;
  }

  &__line {
    background-color: $colorSpanishGray;
    color: $colorYankeesBlue;
    font-size: x-large;
    font-style: italic;
    margin: 25px 0 75px 0;
  }

  &__title {
    .detail__icon {
      background-color: $colorSpanishGray;
      color: $colorIndependence;
    }

    background-color: $colorSpanishGray;
    color: $colorIndependence;
    font-size: x-large;
    font-family: $fontHighlight;
    margin: 25px 0 50px 0;
  }

  &__director {
    .detail__icon {
      background-color: $colorSpanishGray;
      color: $colorIndependence;
    }

    background-color: $colorSpanishGray;
    color: $colorIndependence;
    font-size: larger;
    font-family: $fontHighlight;
    margin: 25px 0 50px 0;
  }

  &__clip {
    .detail__icon {
      background-color: $colorSpanishGray;
      color: $colorIndependence;
    }

    background-color: $colorSpanishGray;
    color: $colorIndependence;
    font-weight: bold;
    margin: 10px 0;
  }

  &__returnLink {
    .detail__icon {
      background-color: $colorSpanishGray;
      color: $colorIndependence;
    }

    background-color: $colorSpanishGray;
    color: $colorIndependence;
    margin: 10px 0;
  }
}
