// Fonts
$fontMain: 'Ubuntu', sans-serif;
$fontHighlight: 'Ubuntu Mono', monospace;

// Color palette
$colorAteneoBlue: #0d3b66;
$colorOrangeSoda: #f95738;
$colorRoyalOrange: #ee964b;
$colorNaplesYellow: #f4d35e;
$colorBlanchedAlmond: #faf0ca;
$colorDeepPink: #ff149c;
