// Fonts
$fontMain: 'Ubuntu', sans-serif;
$fontHighlight: 'Ubuntu Mono', monospace;

// Color palette
$colorYankeesBlue: #22223b;
$colorIndependence: #4a4e69;
$colorSpanishGray: #9a8c98;
$colorSilverPink: #c9ada7;
$colorAlabaster: #f2e9e4;
